<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{url_for('static', filename='style/bootstrap.min.css')}}"></link>
    <scripy src="{{url_for('static', filename='js/bootstrap.min.js')}}"></scripy>
</head>
<body class"container-md" style="background-color: rgb(248, 220, 249);">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem consequuntur ipsum sint, rem labore quisquam delectus debitis velit corrupti? Omnis ducimus eius minima! Unde consequuntur voluptate autem quo porro exercitationem!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa distinctio facere ipsa magnam, explicabo id, dolor fugit similique error eligendi nobis inventore voluptatum ab officia dolorum deserunt iste minima suscipit.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique quo quaerat nam veritatis harum itaque? Suscipit neque officiis, veritatis perferendis quas harum provident, aliquam, quibusdam enim repellat ullam porro dolor.
    
</body>
</html>