<!-- templates/index.html.jinja -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>芒果數據分析</title>
</head>

<body>
  <h1>芒果數據分析</h1>
  <form action="/" method="get">
    {% for area in areas %}
    <input type="checkbox" name="area" value="{{ area }}" {% if area in selected_areas %}checked{% endif %}>
    <label for="{{ area }}">{{ area }}</label><br>
    {% endfor %}
    <input type="submit" value="分析">
  </form>

  {% if detail_snaes %}
  <h2>數據詳情：</h2>
  <ul>
    {% for sna in detail_snaes %}
    <li>{{ sna }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</body>

</html>